<div class="row">
    <div class="col-md-3"><button class="btn btn-success" (click)="showSuccess('Hello fan','Hello world')"
        placement="left" ngbTooltip="Toastr success on top">Toastr success</button></div>
    <div class="col-md-3"><button class="btn btn-info" (click)="showInfo('Hello fan','Hello world')"
        placement="bottom" ngbTooltip="Toastr info on top">Toastr info</button></div>
    <div class="col-md-3"><button class="btn btn-warning" (click)="showWarning('Hello fan','Hello world')"
        placement="bottom" ngbTooltip="Toastr warning on top">Toastr warning</button></div>
    <div class="col-md-3"><button class="btn btn-danger" (click)="showError('Hello fan','Hello world')" 
        placement="right" ngbTooltip="Toastr Erron on top">Toastr Erron</button></div>
        {{hrf}}
</div>