<div class="row">
    <div class="col-md-3"><button class="btn btn-success" (click)="showSuccess('Hello fan','Hello world')">Toastr success</button></div>
    <div class="col-md-3"><button class="btn btn-info" (click)="showInfo('Hello fan','Hello world')">Toastr success</button></div>
    <div class="col-md-3"><button class="btn btn-warning" (click)="showWarning('Hello fan','Hello world')">Toastr warning</button></div>
    <div class="col-md-3"><button class="btn btn-danger" (click)="showError('Hello fan','Hello world')">Toastr success</button></div>
</div>